body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-image: url(../img/Fondon2.jpg);
    background-position: center;
    background-size: cover;
  }
  img{
    max-width: 10%;
  }
  .barra h2{
      font-size: 3.4rem;
      color: #333333;
      font-weight: 300;
  }
  .barra a{
    text-decoration: none;
  }
  .barra span{
    font-size: 3.4rem;
    color: #333333;
    font-weight: 900;
  }
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 30px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #DBD0CE;
    padding-left: 30px;
  }
  select{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #221966; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #221966; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #221966; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  label{
    display: block; 
    float: center;  
  }
  .button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color:darkslateblue; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
    color: #fff;
  }
  .button p{
    color: #fff; 
  }
  span{
    color: #ab4493; 
    font-size: 15px;
  }
  .aviso{
    font-size: 15px;  
    color: #0e0e0e;  
  }
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    text-align: center;
    color:darkslateblue;
  }
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  p{
    font-size: 20px; 
    color: #0e0e0e; 
  }
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  /** Botones **/
.boton{
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.2rem;
  padding: .5rem 1.5rem;
  margin-top: 0;
  display: inline-block;
  text-align: center;
}
.boton-amarillo{
  background-color: #E08709;
}